# These functions are
# Copyright (C) 1998-2023 T.W. Yee, University of Auckland.
# All rights reserved.





export("bigamma.mckay")



importFrom("stats", "coef", "lm")



export("genpoisson", "dgenpois")
export("yip88")
export("dbell", "rbell", "bellff")
importFrom("VGAM", "bell")
export("tikuv", "dtikuv", "ptikuv", "qtikuv", "rtikuv")
importFrom("stats", "dnorm", "pgamma", "rpois", "uniroot")





importFrom("methods", "new")
importFrom("stats", "ppoints", "runif")
importFrom("VGAM", "dlog",
           "is.Numeric", "link2list", "namesof", "plog",
           "dzeta", "dzipf",
           "pzeta", "pzipf", "qlog", 
           "qzeta", "qzipf", "s")

export("dposbinom", "pposbinom", "qposbinom", "rposbinom",
       "dposnegbin", "pposnegbin", "qposnegbin", "rposnegbin",
       "prob.munb.size.VGAM")
importFrom("stats", "dbinom", "dnbinom", "dpois", "pbinom", "pnbinom",
           "ppois", "qbinom", "qnbinom", "qpois")
export(oiposbinomial, doiposbinom, poiposbinom, qoiposbinom, roiposbinom)
export("dpospois", "ppospois", "qpospois", "rpospois")






export(doilog, poilog, qoilog, roilog, oilog)
export(dotlog, potlog, qotlog, rotlog, otlog)
export(dotpospois, potpospois, qotpospois, rotpospois, otpospoisson)
export(doalog, poalog, qoalog, roalog, oalog)
export(doapospois, poapospois, qoapospois, roapospois, oapospoisson)
export(doazeta, poazeta, qoazeta, roazeta, oazeta)
export(doizeta, poizeta, qoizeta, roizeta, oizeta)
export(doizipf, poizipf, qoizipf, roizipf, oizipf)
export(dotzeta, potzeta, qotzeta, rotzeta, otzeta)

export(doipospois, poipospois, qoipospois, roipospois, oipospoisson)
export(deflat.limit.oipospois)
export(deflat.limit.oizeta)








export(DeLury,
       wffc.P1, wffc.P1star, wffc.P2, wffc.P2star, wffc.P3, wffc.P3star,
       wffc.P4, wffc.P4star
)





